html{
    background-color: black;
    color: white;
}

a{
    color: aqua;
}

.mid-align{
    text-align: center;
}

h1,h2 {
    text-align: left;
}

#profile-img {
    border-width: 10px;
    border-color: black;
    text-align: center;
}