html {
    background-color: black;
    color: white;
}

a {
    color: aqua;
}

.mid-align {
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-align: left;
}

.name {
    font-size: 2rem;
}

#profile-img {
    float: left;
    text-align: center;
    border: 2px solid black;
}

.header-end {
    clear: both;
}